<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-41(%date{"HH:mm:ss,SSS"} [%thread]) |-%highlight(%-5level)
        %white(%logger{26}) -%yellow(%msg%n)
      </pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>debug.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%date [%thread] %-5level %logger{35} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="JPCAPPENDER" class="ch.qos.logback.core.FileAppender">
    <file>jpc.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%date - %msg%n
      </pattern>
    </encoder>
  </appender>
  <appender name="JPCAPPENDERI" class="ch.qos.logback.core.FileAppender">
    <file>jpci.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%date - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="jpc-logger" level="DEBUG" additivity="false">
    <appender-ref ref="JPCAPPENDER"/>
  </logger>

  <logger name="jpc-logger-int" level="DEBUG" additivity="false">
    <appender-ref ref="JPCAPPENDERI"/>
  </logger>

  <logger name="me.piepers" level="DEBUG" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.lambdaworks" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="io.vertx" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.hazelcast" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <root>
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
