<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-41(%date{"HH:mm:ss,SSS"} [%thread]) |-%highlight(%-5level)
        %white(%logger{26}) -%yellow(%msg%n)
      </pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>debug.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rollover daily -->
      <fileNamePattern>debug.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%date [%thread] %-5level %logger{35} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="JPCAPPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>jpc.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rollover daily -->
      <fileNamePattern>jpc.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%date - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="JPCAPPENDERI" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>jpci.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rollover daily -->
      <fileNamePattern>jpci.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%date - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="JPCAPPENDERB" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>jpcb.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rollover daily -->
      <fileNamePattern>jpcb.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%date - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="JPCAPPENDERS" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>jpcs.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rollover daily -->
      <fileNamePattern>jpcs.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%date - %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="JPCAPPENDERD" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>jpcd.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- Rollover daily -->
      <fileNamePattern>jpcd.%d{yyyy-MM-dd}.log</fileNamePattern>
    </rollingPolicy>
    <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
      by default -->
    <encoder>
      <pattern>%msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="jpc-logger" level="DEBUG" additivity="false">
    <appender-ref ref="JPCAPPENDER"/>
  </logger>

  <logger name="jpc-logger-int" level="DEBUG" additivity="false">
    <appender-ref ref="JPCAPPENDERI"/>
  </logger>

  <logger name="jpc-logger-byte" level="DEBUG" additivity="false">
    <appender-ref ref="JPCAPPENDERB"/>
  </logger>

  <logger name="jpc-logger-string" level="DEBUG" additivity="false">
    <appender-ref ref="JPCAPPENDERS"/>
  </logger>

  <logger name="jpc-logger-data" level="DEBUG" additivity="false">
    <appender-ref ref="JPCAPPENDERD"/>
  </logger>

  <logger name="me.piepers" level="DEBUG" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.lambdaworks" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="io.vertx" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.hazelcast" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </logger>

  <root>
    <appender-ref ref="FILE" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
